* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(/assets/img/sfondo-lavagna.jpeg);
  background-size: cover;
}

h1 {
  background-color: white;
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  margin-inline: 5em;
  margin-block: 1em;
}

h2 {
  padding-top: 0.5em;
}

h3 {
  padding: 0.5em;
  background-color: lightgrey;
  box-shadow: 5px -5px 0px 0px darkgrey;
  margin-block: 1em;
}

.container {
  margin-block: 1em;
  padding: 1em;
  text-align: center;
  width: 50%;
  margin-inline: auto;
  border: 1px solid black;
  background-color: white;
}

.start-container {
  background-color: #b2aaaa;
  box-shadow: 5px -5px 0px 0px lightgrey;
}

#input-box {
  padding: 0.5em;
  margin-block: 1em;
}

.list-container {
  margin-block: 1em;
}

ul li {
  list-style: none;
  margin-left: 1em;
  margin-block: 1.5em;
  text-align: left;
  font-size: 1.5em;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: red;
}

li button {
  float: right;
  margin-right: 1em;
  border-radius: 20%;
  width: 2em;
  height: 2em;
}
